body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

.container {
    display: grid;
    grid-template-columns: 800px 800px 800px;
    grid-template-rows: 800px 800px 800px;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
  grid-area: header; 
  background-color: #262B2F;
  grid-column-start: span 3;
}

.navigation {
  grid-area: navigation;
  background-color: #262B2F;
}

.main {
  display: grid; 
  grid-area: main;
} 

.widget-container-full, .widget-container-half {
  width: 95vw;
  }
  
  
  

/*.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;


}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;

}

.gallery__item--4 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;

}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--6 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
.gallery__item--8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;

 }
  
.gallery__item--9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}
  
.gallery__item--10 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;

}
  
.gallery__item--11 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;

}
  
.gallery__item--12 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;

}*/

@media (min-width: 768px) {
  header h1 {
      padding: 0 1em;
      font-size: 200%;
      font-weight: 300;
  }
    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "navigation main";
    }
    .main {
        grid-template-columns: 50% ;
    }
    .traffic, .social {
        grid-column: 1 / span 2;
        }
    .daily, .members, .message {
        grid-column: 1 / span 1;
        }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
        }
    .widget-container-full {
          width: 90vw;
        }
    .widget-container-half {
          width: 45vw;
        }
    }
